In [ ]:
Q1
Find next sequence?
Send Feedback
JAF, JEF, JIF, JOF, ?

Options
JAG
JET
JUF 
JIT
Correct Answer
Solution Description
#### The middle letters which are vowels have an increasing trend of A, E, I, O, U and 
#remaining letters have been retained. Hence the answer would be JUF. Option (c) is correct.

In [ ]:
Q2
Find next alphabets?
Send Feedback
BAZ, DBY, FCX, ?

Options
FXW
EFX
FEY
HDW 
Correct Answer
Solution Description
The 1st letter of the world increasing by +2, 2nd letter increasing by +1 and the 3rd letter is decreasing by -1.

Hence, the missing letter HDW. Option (d) is correct.

In [ ]:
Q3
Find next Number?
Send Feedback
5, 12, 23, 50, 141, ?

Options
488 
473
425
392
Correct Answer
Solution Description
4=41, 16=42, 64=43 

Hence, the next term =141+91+44= 141 +91 +256 =488.

Hence, option (a) is correct.

In [ ]:
Q4
Next Number?
Send Feedback
13, 16, 22, 31, 43, ?

Options
60
58 
55
56
Correct Answer
Solution Description
Pattern of the series is +3, +6, +9, +12, …

Hence, the missing term= 43+ 15= 58. Hence, option (b) is correct.

In [ ]:
Q5
Next Number Again?
Send Feedback
50, 90, 150, 240, 375, ?

Options
570
577.5 
580
None Of These
Correct Answer
Solution Description
90 = 50 +40,        
              
150 = 90 +60,          
   
240 = 150 +90

375 = 240 +135.

We can see 60 = 40 ×1.5,          
90 = 60 ×1.5,                       135 = 90 ×1.5,  

Hence, the required term = 375 + 135 × 1.5  = 577.5

Hence, option (b) is correct.

In [ ]:
Q6
Find number?
Send Feedback
4, 6, 16, 54, 224,?

Options
1125
1130 
1135
1140
Correct Answer
Solution Description
6 = 4 ×1 +2,      

16 = 6 ×2 +4,

54 = 16 ×3 +6,         

224 = 54 ×4 +8,

? = 224 × 5 +10 = 1130.

Hence, option (b) is correct.

In [ ]:
Q7
Find missing number?
Send Feedback
2, 10, 30, 68, 130, ..................?

Options
225
224
223
222 
Correct Answer
Solution Description
Solution:
(1)^3 +1 =2,  

(2)^3 +2 =10,      
  
(3)^3 +3 =30,       

(4)^3 +4 =68

(5)^3 +5 =130,    
                                                 
? = (6)^3 +6  =222.

Hence, option (d) is correct.

In [ ]:
Q8
Syllogism-1
Send Feedback
Statements: All A are B. All B are C. All C are D
Conclusion:
I. All B are D.
II. All C are A.
III. All A are D.
IV. All D are B
Options
Only I and II follow
Only I and III follow 
Only II and III follow
All follow
Correct Answer: only I and III follows

In [ ]:
Q9
Predict The Correct Thing?
Send Feedback
Statements: Some eyes are ears. Some ears are lungs. All lungs are hands
Conclusion:
I. Some hands are eyes.
II. Some hands are ears
III. Some lungs are eyes
IV. No hand is eye

Options
None follow
Only IV follows
Only II follows 
Only III follows
Correct Answer: only II follows

In [ ]:
Q10
Select The Correct Statement?
Send Feedback
Statements: All liquids are solids. Some solids are gases. All gases are clouds.
Conclusion:
I. Some clouds are solids.
II. Some clouds are liquids
III. Some gases are liquids.
IV. Some solids are clouds

Options
None follows
Only I and II follow
Only III and IV follow
Only I and IV follow 
Correct Answer: Only I and IV follow

In [ ]:
Q11
Predict About Statements?
Send Feedback
Statements: All A are B. No B is C. Some D are C.
Conclusion:
I. Some D are A.
II. Some D are B
III. Some A are C.

Options
Only I follows.
Only III follows.
None of these. 
Only II and III follow.
Correct Answer: None of these

In [ ]:
Q12
Get The Conclusion?
Send Feedback
Statements: Some snaps are whatsapp. All Hikes are whatsapp. All whatsapp are facebook.
Conclusion:
I. Some facebook are snaps.
II. All hikes are facebook
III. Some snaps are hikes.
IV. Some snaps are facebook

Options
All follow
Only I, II and III follow
Only I, II and IV follow. 
Only III and IV follow
Correct Answer: Only I, II and IV follow.

In [ ]:
Q13
Statements And Conclusion?
Send Feedback
Statements: Some cows are deer. No deer is dog. Some dogs are fox.
Conclusions:
I. Some cows are fox.
II. Some foxes are deer.

Options
None follows 
Only I follows
Either I or II follows
Only II follows
Correct Answer: None Follows

In [ ]:
Q14
Select The Correct Option?
Send Feedback
Some points are not scales. No scale is circle. Some circles are triangles.
Conclusions:
I. No point is circle.
II. No triangle is point.

Options
None follows 
Only I follows
Either I or II follows
Only II follows
Correct Answer: None Follows

In [ ]:
Q15
Leaves, Branches And Roots?
Send Feedback
Some leaves are fruits. All branches are fruits. Some roots are branches Conclusions:
I. Some roots are fruits.
II. Some branches are leaves.
III. No leaf is branch.
IV. Some leaves are roots.

Options
Either II or III and I follow 
Only I follows
Only either II or III follows
Only I and III follow
Correct Answer: Either II or III and I follow

In [ ]:
Q16
Decode it?
Send Feedback
In a certain code ‘SUDHIR’ is written as ‘HIRSUD’
How would ‘VISHES’ be written in that code?

Options
VISHSE
HESVIS 
VISEHS
HESIVS
Correct Answer: HESVIS

In [ ]:
Q17
Decode again?
Send Feedback
In a certain code ‘PURPOSE’ is written as ‘UPPRSOE’. How would ‘SUDHI’ is written in that code.

Options
USHDI 
SUDIH
USDIH
None Of These
Correct Answer: USHDI

In [ ]:
Q18
Coding Decoding
Send Feedback
In a certain code ‘SUDHIR’ is written as ‘QTBGGQ’. How would ‘ARUN’ be written in that code?

Options
QYSM
PQRS
YQSM 
None Of These
Correct Answer: YQSM

In [ ]:
Q19
Find pattern?
Send Feedback
If AMAN is written as ‘BNBO’ in a certain code then ARUN is written as
Options
BPTM
BSVM
BVSM
None Of These 
Correct Answer: None of these

In [ ]:
Q20
Find code?
Send Feedback
If ‘AMAN’ is written as ‘CLCM’ in a certain code than in the same code ‘ARUN’ is written as:

Options
CQWO
CQVM
CPWM
CQWM 
Correct Answer: CQWM

In [ ]:
Q21
Decode the number?
Send Feedback
In a certain code if ‘1000’ is written as ‘1728’ and 125 is written as ‘343’. In the same code ‘512’ is written as:
Options
729
343
216
1000 
Correct Answer: 1000