In [ ]:
Q1
Average Of Odd Numbers
Send Feedback
The average of all odd numbers between 20 and 30 is:

Options 
23 
21 
25 
27

Correct Answer

Solution Description Average of all odd numbers between 20 and 30 =(21 + 23 + 25+ 27+ 29)/5 = 125/5 = 25.

In [ ]:
Q2
Average Of Multiples
Send Feedback
Average of first 20 multiples of 4 is:

Options
40
42 
44
48
Correct Answer : 42

In [ ]:
Q3
Average Of Numbers
Send Feedback
The average of the following numbers: 1001, 1002, 1003, 1006, 1009

Options
1004
1004.2 
1004.8
1004.1
Correct Answer
Solution Description
lets the average of the numbers is 1005.
Net average difference= -4/5= -0.8
Hence, the required average= 1005- 0.8= 1004.2

In [ ]:
Q4
Average Of Numbers - 2
Send Feedback
The average of the following numbers: 1911, 1922, 1915, 1916, 1920

Options
1916
1916.4
1916.8 
1917
Correct Answer
Solution Description
lets the average of the numbers is 1915. Net average difference= 9/5= +1.8
Hence, the required average= 1915+ 1.8= 1916.8

In [ ]:
Q5
Sachin And Average
Send Feedback
Sachin has an average of 90 after ten innings. If he scored 50 runs in the 11th inning 
then what is the average of Sachin after 11 innings?

Options
86.36 
85.47
87.87
None of these
Correct Answer
Solution Description
Average runs scored after 11th innings= (90×10+50)/(10+1)=950/11=86.36. Hence, option (a) is correct.

In [ ]:
Q6
Manish And Average
Send Feedback
Manish average score in first five tests was 10. If after 6th test he scored 12 marks then what was his average after 6 tests?

Options
10.36
10.33 
17.87
None Of These
Correct Answer
Solution Description
Average score of Manish after six tests= (10×5+12)/(6)=62/6=10.33. Hence, option (b) is correct.

In [ ]:
Q7
Average Of Prime Numbers
Send Feedback
The average of five distinct prime numbers is 6 if first four of them are one digit prime numbers then value of 5th prime number is:

Options
11
13 
17
19
Correct Answer : 13
Solution Description
One digit prime numbers are 2, 3, 5, 7. Let the 5th prime numbers is x then according to the question: (2+ 3+ 5+ 7+ x)/5 = 6

In [ ]:
Q8
Student Weight
Send Feedback
When a student weighing 46 kgs left a class, 
the average weight of the remaining 59 students increased by 300g. 
What is the average weight of the remaining 59 students?

Options
88
98
64 
57
Correct Answer
Solution Description
Let the average weight of the 59 students be A.
Therefore, the total weight of the 59 of them will be 59A.

The questions states that when the weight of this student who left is added, the total weight of the class = 59A + 46
When this student is also included, the average weight decreases by 0.3 kgs.

( 59A + 46)/ 60 = A – 0.3

=> 59A + 46 = 60A - 18

=> 46 + 18 = 60A - 59A
=> A = 64

In [ ]:
Q9
Average Of Men Weight
Send Feedback
The average weight of 8 men on a rope bridge is increased by 2.5 kg, 
when one of the men, who weighs 69 kg, is replaced by a new man. 
Find the weight of the new man.

Options
79
89 
84
69
Correct Answer
Solution Description
 Let average weight of seven men be x years.

(7x+69)/8=A

(7x+N)/8=A+2.5 ,where N is weight of new man.
Solving we get N=89 kg.

In [ ]:
Q10
Average Honey
Send Feedback
The average honey collected by 19 bees of a beehive is 50 grams per day.
If the queen bee’s collection is added, the average collection becomes 47.5 grams. What is the queen bee’s collection?

Options
4 grams
0 grams 
6 grams
None of these
Correct Answer
Solution Description
Let queen bee’s collection be q grams;
((19×50)+q)/20=47.5;
Solving we get q=0

In [ ]:
Q11
Rahul And Average
Send Feedback
The average score of Rahul after 20 innings is 20 and in the 21st innings Rahul scores 83 runs. 
In the 22nd innings the minimum number of runs required to increase his average score by 2 than it was before the 22nd innings :

Options
66
68
67 
69
Correct Answer
Solution Description
The average score after 20th innings = 20 
The average score after 21st innings = 23
Since [(20 × 20) +83]/21 = 483/21 = 23
Now requirement of runs = 25 + (21 × 2) = 67
Or   (25 × 22) – (23 × 21) = 67

In [ ]:
Q12
Persons And Hotels
Send Feedback
Nine persons went to a hotel for taking their meals. 
Eight of them spent Rs.15 each on their meals and 
the ninth spent Rs.8 more than the average expenditure of all the nine. 
What was the total money spent by them.

Options
130
131
132
144 
Correct Answer
Solution Description
Let the average expenditure of all the nine be RS.x
Then, 15 * 8 + (x + 8) = 9x
Therefore x = 16
Total money spent = 9x = RS.(9 * 16) = Rs.144

In [ ]:
Q13
Student & Sections
Send Feedback
There are two sections A and B of a class, 
consisting of 40 and 48 students’ respectively. 
If the average weight of section A is 50kg and that of section B is 45kg, 
find the average weight of the whole class.

Options
45.25
46.26
47.27 
48.28
Correct Answer
Solution Description
Total weight of (40+48) Students = (40x50+48x45)kg = 4160kg

Therefore average weight of the whole class = (4160/88) kg

Therefore average weight = 47.27kg

In [ ]:
Q14
Students And Average
Send Feedback
In a class twenty five students are standing in a row the average weight of 1st 12 students is 14 kg. 
that of last twelve is 17 kg. 
If the average weight of all the 25 students is 18 kg. 
then find the weight of 13th student.

Options
76 kg
77 kg
78 kg 
80 kg
Correct Answer
Solution Description
Let the weight of 13th student be w kg.

Total weight of first 12 students = 12×14=168kg.

Total weight of last 12 students = 12×17=204 kg.

Total weight of all the students = 168 + w + 204 = w + 372 = 25×18=450

w = 450- 372 = 78 kg.

In [ ]:
Q15
Average Weight Of Students
Send Feedback
The average weight of 35 students in a school 40 kg. 
If 5 students of average weight 100 kg. left the school then the new average of remaining students is:

Options
35 kg
30 kg 
40 kg
25 kg
Correct Answer : 30kg