In [ ]:
Q1
Male Female Problem-1
Send Feedback
Direction for next 4 questions
Answer the questions on the basis of the information given below:
There are six persons in a room namely- A, B, C, D, E and F.A and E are brothers, 
B and D are daughters of the brother of C’s father. F is the sister of E, C is the only son of A’s uncle.
How many male persons are there?

Options
5
3 
1
0
Correct Answer: 3

In [ ]:
Q2
Male Female Problem -2
Send Feedback
How is C related to F?

Options
Uncle
Cousin 
Aunt
None Of These
Correct Answer: Cousin

In [ ]:
Q3
Male Female Problem-3
Send Feedback
How many female persons are there?

Options
0
1
2
3 
Correct Answer: 3

In [ ]:
Q4
Male Female Problem-4
Send Feedback
D is A’s …..?

Options
Uncle
Father
Cousin 
Mother
Correct Answer: Cousin

In [ ]:
Q5
Family Problem-1
Send Feedback
Direction for next six questions:
A, B, C, D, E and F are six members of a family. 
C is not the mother of B but B is son of C. A and C are married couple. E is the brother of C. F is the brother of B. D is the daughter of A.
E is D’s _?

Options
Uncle 
Mother
Father
Brother
Correct Answer: Uncle

In [ ]:
Q6
Family Problem-2
Send Feedback
Which of the following is a pair of females?

Options
AD 
BD
CA
BA
Correct Answer: AD

In [ ]:
Q7
Family Problem-3
Send Feedback
E’s wife is _?

Options
A
C
F
Can't be determined 
Correct Answer: Can't be determined

In [ ]:
Q8
Family Problem-4
Send Feedback
How many Kids does A have?

Options
0
1
2
3 
Correct Answer: 3

In [ ]:
Q9
Family Problem-5
Send Feedback
How many female members are in the family?

Options
0
1
2 
3
Correct Answer: 2

In [ ]:
Q10
Family Problem-6
Send Feedback
B’s mother is _?

Options
A 
E
F
D
Correct Answer: A

In [ ]:
Q11
Predict Day?
Send Feedback
July 1, 1777 was Monday. What day of the week was it on July 1, 1778?

Options
Monday
Tuesday 
Wednesday
Sunday
Correct Answer
Solution Description
As 1777 is not a leap year hence, it has 1 odd day. So July 1, 1778 was one day ahead of the day on July 1, 178. 
Hence it was Tuesday on July 1, 1778.

In [ ]:
Q12
Which day?
Send Feedback
January 1, 2000 was Sunday. What day of the week was it on January 1, 2001?

Options
Monday
Tuesday 
Saturday
Sunday
Correct Answer
Solution Description
2000 is a leap year hence it has two odd days. Hence, it was Tuesday on January 1, 2001.

In [ ]:
Q13
Predict Day Of Week?
Send Feedback
1st Nov, 2003was Sunday. What day of the week was it on 1stDec. 2004?

Options
Thursday 
Sunday
Tuesday
Friday
Correct Answer
Solution Description
2004 is a leap year hence if 1 November 2003 was Sunday then 1 November 2004 was Sunday+ 2 more days= Tuesday. 
There are 30 days between 1 November and 1 December. 30 days = 4×7+2.
Hence day on 1 December 2004 is Tuesday+ 2= Thursday.

In [ ]:
Q14
Day Of June?
Send Feedback
5th June, 2015 was Monday. What was the day of the week on 6th June, 2014?


Options
Sunday
Saturday
Tuesday
Monday 
Correct Answer
Solution Description
As 2015 is not a leap year so day on 5 June 2015= Day on 5 June 2014 + 1
Day on 5 June 2014 + 1= Day on 6th June 2015.
Day on 5th June 2015= Day on 6th June 2014= Monday.

In [ ]:
Q15
15 August Day
Send Feedback
What was the day on 15 August 1948?

Options
Friday
Saturday
Sunday 
Monday
Correct Answer
Solution Description
Odd days in 1600 years = 0 

 

Odd days in 300 years = 1

 

47 years = (36 ordinary years + 11 leap years) = (36 x 1 + 11x 2)= 58(8 weeks + 2 days) = 2 odd day 

 

Jan.   Feb.   Mar.   Apr.   May.   Jun.   Jul.   Aug 

 

( 31 + 29 + 31 + 30 + 31 + 30 + 31 + 15 ) = 228 days = (32 weeks +  4 days) = 4 odd days.

 

Total number of odd days = (0 + 1 + 2 + 4) = 7 odd days. 

 

 

Hence, as the number of odd days = 7, given day is Sunday.

In [ ]:
Q16
Predict Dates?
Send Feedback
On what dates of January, 2015 did Sunday fall?


Options
3rd, 10th, 17th, 24th, 31st
5th, 12th, 19th, 26th
1st, 8th, 15th, 22nd, 29th
4th, 11th, 18th, 25th 
Correct Answer
Solution Description
2014: 2000 years+ 11 ordinary years+ 3 leap years= 11 odd days+ 6 odd days= 17 odd days or 3 odd days.
1st January 2015: 3+ 1= 4 odd days.
Hence, it was Thursday on 1st January 2015. Therefore Sunday fell on 4th, 11th, 18th, 25th  January.

In [ ]:
Q17

Day Of Week again?
Send Feedback
What was the day of the week on 25th June, 2016?

Options
Thursday
Monday
Saturday 
Sunday
Correct Answer
Solution Description
2015= 2000 years+ 3 leap years+ 12 ordinary years= 3×2+12=18 odd days or 4 odd days.
1 January to 25 June= 31+ 29+ 31+ 30+ 31+ 25 or 3+ 1+ 3+ 2+ 3+ 4= 16 odd days or 2 odd days.
Therefore total number of odd days= 4 + 2= 6 odd days.
Hence it was Saturday on 25th June 2016.

In [ ]:
Q18
After few days?
Send Feedback
Today is Monday. After 76 days, it will be

Options
Saturday
Sunday 
Monday
Tuesday
Correct Answer
Solution Description
76= 7×10+6 days. Hence, if today is Monday then after 76 days it will be Monday+ 6= Sunday

In [ ]:
Q19
Leap Year
Send Feedback
Which of the following is not a leap year?
Options
1782 
1888
1616
2004
Correct Answer
Solution Description
As 1782 is not divisible by 4 hence it is not a leap year.

In [ ]:
Q20
Maximum Days
Send Feedback
Maximum number of days in 10 consecutive years is:

Options
3650
3652
3654
3653 
Correct Answer
Solution Description
10 consecutive years have maximum days if these years consists maximum possible number of leap year. 
In 10 consecutive years maximum number of leap years = 3 (1st, 5th, 9th or 2nd, 6th& 10th).
Maximum possible number of days in 10 years= 3×366+7×365=3653 days.